.sidebar_category {
  margin-bottom: 30px;
  .section-title {
    margin-bottom: 30px;
    h4 {
      font-size: 18px;
      color: black;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      &:last-child {
        &:after {
          display: block;
        }
      }
      &:after {
        position: absolute;
        background: #dc3545;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 70px;
      }
    }
  }
}

.category_accordion {
  .card {
    border: none;
    border-radius: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2 !important;
    margin-bottom: 12px;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none !important;
    }
  }

  .card-heading {
    cursor: pointer;

    span {
      font-size: 14px;
      font-weight: 500;
      color: black;
      display: block;
      position: relative;

      &:before {
        content: "\f106"; /* Arrow-up when not active */
        font-family: "FontAwesome";
        color: #666666;
        position: absolute;
        right: 30px;
        top: 0;
      }

      &.active span:before {
        content: "\f107"; /* Arrow-down when active */
      }
    }
  }

  .card-body {
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 0;

    li {
      list-style: none;
      position: relative;
      padding-left: 16px;
      display: block;

      a {
        font-size: 14px;
        color: #666666;
        line-height: 30px;
      }
    }
  }
}

.btn-sidebar {
  font-size: 14px;
  width: 100%;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  bottom: 2px;
  margin: 2px;
  border: 2px solid #dc3545;
  position: relative;
  background-color: #fff;

  &:hover {
    background-color: #dc3545;
    color: #fff;
  }
}
